.wrapper {
    margin-right: auto;
    margin-left: auto;
    
    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
}

body {

    background: rgb(179, 179, 192);

    
    text-align: center;
    margin: auto;
}

.backBox {
    background-color: #cac5bf; 
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 1000px;
    height: 700px;
    border-radius: 2%;
    position: relative;
    left: 0%;
    top: 150px;  
    z-index: 0;
}

.clothBox {
    background-color: #837f7a;
    object-fit: inherit;
    background-repeat: no-repeat;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 450px;
    height: 325px;
    border-radius: 2%;
    position: absolute;
    left: 5%;
    top: 20px;  
    z-index: 0;
}

.clothBox2 {
    background-color: #837f7a; 
    object-fit: inherit;
    background-repeat: no-repeat;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 450px;
    height: 325px;
    border-radius: 2%;
    position: absolute;
    left: 5%;
    top: 350px;  
    z-index: 0;
}

.clothBox4 {
    background-color: #837f7a;
    object-fit: inherit;
    background-repeat: no-repeat; 
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 450px;
    height: 325px;
    border-radius: 2%;
    position: absolute;
    left: 50.5%;
    top: 350px;  
    z-index: 0;
}

.clothBox3 {
    background-color: #837f7a;
    object-fit: inherit;
    background-repeat: no-repeat; 
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 450px;
    height: 325px;
    border-radius: 2%;
    position: absolute;
    left: 50.5%;
    top: 20px;  
    z-index: 0;
}

/* Style buttons */
.button button {
    background-color: rgb(29, 119, 77); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  

.button:hover {
    background-color: RoyalBlue;
  }

.clothBoxNextButton {
    position: absolute;
    left: 8.7px;
    top: 150px;
    z-index: 2;
}

.clothBoxPreviousButton {
    position: absolute;
    left: 8.7px;
    top: 250px;
    z-index: 2;
}

.clothBox2NextButton {
    position: absolute;
    left: 8.7px;
    top: 500px;
    z-index: 2;
}

.clothBox2PreviousButton {
    position: absolute;
    left: 8.7px;
    top: 600px;
    z-index: 2;
}

.clothBox3NextButton {
    position: absolute;
    left: 955px;
    top: 150px;
    z-index: 2;
}

.clothBox3PreviousButton {
    position: absolute;
    left: 955px;
    top: 250px;
    z-index: 2;
}

.clothBox4NextButton {
    position: absolute;
    left: 955px;
    top: 500px;
    z-index: 2;
}

.clothBox4PreviousButton {
    position: absolute;
    left: 955px;
    top: 600px;
    z-index: 2;
}

.randomiseButton {
    position: absolute;
    left: 6.2px;
    top: 50px;
    z-index: 2;
}